<!-- dictionaryflash.html -->

<div id="dc-container">
    <h2>Spanish Vocabulary Flashcard</h2>

    <div class="categories">
        <form>
            <label>select a category: </label> <select name="wordCategory" ng-model="wordCategory" ng-click="getWords(0)">
                <option ng-repeat="category in categoryList">{{ category }}</option>
            </select>
        </form>
    </div>

    <div class="dictionary-card">
        <div class="card" flip-me="flipToggle">
            <div class="face front">
                <h1>{{ translation }}</h1>
            </div>
            <div class="face back" ng-click="newCard()">
                <h1>{{ word }}</h1>
                <img src='{{ image }}' />
            </div>
        </div>
    </div>

    <div class="button">
        <button ng-click="clearCard()">reset card</button>
    </div>

</div>
