<!-- home.html -->

<div id="home-container">
    <div id="marquee">
        <h1>¡Bienvenido!</h1>
        <div>chichen itza, mexico</div>
    </div>

    <section>
        <h2>Vocabulary Flashcard</h2>
        <div class="desc">Want to study spanish vocabulary before you take the <a href="#vocab-quiz">Vocabulary Quiz</a> or play the <a href="#vocab-slider">Vocabulary Slider</a>, <a href="#word-scramble">Word Scramble</a> or <a href="#word-completion">Word Completion</a> games? Study up with the <a href="#dictionary-flashcard">Vocabulary Flashcard</a></div>
        <div class="image"><img src="images/word-flashcard.png" width="90%" /></div>
    </section>

    <hr />
    <hr />

    <section>
        <h2>Verb Flashcard</h2>
        <div class="image"><img src="images/verb-flashcard.png" /></div>
        <div class="desc">Before you dive into the <a href="#verb-conjugator">Verb Conjugator</a>, study over 100 most commonly used spanish verbs with the <a href="#verb-flashcard">Verb Flashcard</a>.</div>
    </section>

    <hr />
    <hr />

    <section>
        <h2>Vocabulary Slider</h2>
        <div class="desc">Want to test your knowledge of spanish vocabulary by matching spanish words with their corresponding translation? Then play with the <a href="#vocab-slider">Vocabulary Slider</a>.</div>
        <div class="image"><img src="images/slider.png" /></div>
    </section>

    <hr />
    <hr />

    <section>
        <h2>Word Scramble</h2>
        <div class="image"><img src="images/scramble.png" /></div>
        <div class="desc">Think you have a handle on your spanish vocabulary and want to test your ability to spell the words? Then try the <a href="#word-scramble">Word Scramble</a>!</div>
    </section>

    <hr />
    <hr />

    <section>
        <h2>Word Completion</h2>
        <div class="desc">Vocabulary Scramble too easy because all of the letters are there? Try your luck with <a href="#word-completion">Word Completion</a>!</div>
        <div class="image"><img src="images/completion.png" /></div>
    </section>

    <hr />
    <hr />

    <section>
        <h2>Verb Conjugator</h2>
        <div class="image"><img src="images/conjugator.png" /></div>
        <div class="desc">Studied the most commonly used spanish verbs with the <a href="#verb-flashcard">Verb Flashcard</a> and want to test your skills? Well, test your skills with the <a href="#verb-conjugator">Verb Conjugator</a>!</div>
    </section>

    <hr />
    <hr />

    <section>
        <h2>Vocabulary Quiz</h2>
        <div class="desc">Studied the <a href="#dictionary-flashcard">Vocabulary Flashcards</a> and want to perform a standard test of your spanish vocabulary skills? Go to the <a href="#vocab-quiz">Vocabulary Quiz</a>!</div>
        <div class="image"><img src="images/quiz.png" width="90%" /></div>

    </section>

    <footer>

    </footer>
</div>
