<!-- wordScramble.html -->

<div id="ws-container">
    <h2>Spanish Word Scramble</h2>
    <div class="intro" ng-show="showIntroduction">
        <p>How many questions would you like?</p>
        <p>
            <input type="radio" ng-model="numberQuestions" value="5" /> 5
            <input type="radio" ng-model="numberQuestions" value="10" /> 10
            <input type="radio" ng-model="numberQuestions" value="15" /> 15
            <input type="radio" ng-model="numberQuestions" value="20" /> 20
            <input type="radio" ng-model="numberQuestions" value="25" /> 25
        </p>
        <br />
        <p>How much time on the timer?</p>
        <p>
            <input type="radio" ng-model="timerTime" value="0" /> No timer
            <input type="radio" ng-model="timerTime" value="15" /> 15
            <input type="radio" ng-model="timerTime" value="30" /> 30
            <input type="radio" ng-model="timerTime" value="45" /> 45
            <input type="radio" ng-model="timerTime" value="60" /> 60
        </p>
        <br />
        <p class="buttons">
            <button ng-click="continue()">go</button>
        </p>
    </div>
    <div class="questions" ng-show="showQuestions">
        <fieldset>
            <div id="ws-timer" ng-show="showTimer">{{ timerTime }}</div>
            <h2>{{ translation }}</h2>
            <div>
                <ul ui-sortable ng-model="scrambledWord">
                    <li ng-repeat="letter in scrambledWord track by $index">
                        {{ letter }}
                    </li>
                </ul>
            </div>
            <div class="buttons">
                <button ng-click="newWord()">answer</button>
            </div>
        </fieldset>
        <div class="info">
            Number Correct: {{ numberCorrect }}/{{ index }} ({{ numberCorrect/index * 100 | number:0 }}% )
        </div>
    </div>
</div>